---
import Layout from "../../layouts/Layout.astro";
import FontHeading from "../../components/FontHeading.astro";
---

<Layout>
  <main class="main-container py-8 md:py-12">
    <section class="bg-background text-text">
      <div class="text-left">
        <FontHeading label="About Us" />
        <p class="text-base font-body mb-8 leading-relaxed mt-4">
          Welcome to our hub of knowledge and inspiration where eSports,
          football, IT, and tech trends collide. Our mission is simple:
          <span class="text-highlight">Unleash the Power of Knowledge</span> by providing
          you with exclusive player insights, game strategies, expert guides, and
          real-time updates. We believe that staying ahead means staying informed.
        </p>
        <p class="text-base font-body mb-8 leading-relaxed">
          Our blog is built with <span class="text-secondary">Astro.js</span>,
          ensuring a fast, modern, and user-friendly experience. Our goal is to
          keep you engaged with fresh, insightful content while also supporting
          our platform through Google Ads. By doing so, we aim to provide
          continuous, high-quality resources for our community.
        </p>
        <p class="text-base font-body mb-8 leading-relaxed">
          From the latest football stats to the newest eSports strategies and
          cutting-edge tech trends, we strive to bring you relevant, actionable,
          and inspiring content. Our platform is designed to keep you ahead of
          the game.
        </p>
        <p class="text-base font-body mb-8 leading-relaxed">
          Join us as we continue to grow, evolve, and explore the limitless
          world of knowledge. Stay informed. Stay ahead.
        </p>
        <a
          href="/contact"
          class="inline-block w-fit bg-highlight text-text font-bold py-2 px-4 rounded-md mt-4"
        >
          Contact Us
        </a>
      </div>
    </section>
  </main>
</Layout>
