---
import FontHeading from "../../components/FontHeading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="main-container py-8 md:py-12">
    <section class="bg-background text-text">
      <div class="max-w-7xl mx-auto">
        <FontHeading label="Terms and Conditions" />
        <p class="text-base font-body mb-8 leading-relaxed mt-4">
          Welcome to our website. These Terms and Conditions outline the rules
          and regulations for the use of our website.
        </p>

        <h2 class="text-2xl font-semibold mb-4">1. Acceptance of Terms</h2>
        <p class="text-base font-body mb-6 leading-relaxed">
          By accessing and using our website, you agree to comply with these
          Terms and Conditions. If you do not agree with any part of these
          terms, please discontinue use of our website.
        </p>

        <h2 class="text-2xl font-semibold mb-4">2. Use of Website</h2>
        <p class="text-base font-body mb-6 leading-relaxed">
          You are granted a non-exclusive, limited license to use our website
          for personal, non-commercial purposes. Unauthorized use, reproduction,
          or distribution of content from this website is strictly prohibited.
        </p>

        <h2 class="text-2xl font-semibold mb-4">3. User Responsibilities</h2>
        <p class="text-base font-body mb-6 leading-relaxed">
          Users are responsible for ensuring that their actions on our website
          comply with all applicable laws and regulations. We reserve the right
          to terminate access to the website for any user who violates these
          Terms and Conditions.
        </p>

        <h2 class="text-2xl font-semibold mb-4">4. Intellectual Property</h2>
        <p class="text-base font-body mb-6 leading-relaxed">
          All content, logos, and materials on this website are the intellectual
          property of Ryan unless otherwise stated. You may not copy,
          distribute, or reproduce any part of the website without explicit
          permission.
        </p>

        <h2 class="text-2xl font-semibold mb-4">5. Limitation of Liability</h2>
        <p class="text-base font-body mb-6 leading-relaxed">
          We are not responsible for any damages or losses that result from the
          use or inability to use our website. This includes, but is not limited
          to, indirect or consequential damages.
        </p>

        <h2 class="text-2xl font-semibold mb-4">6. Changes to Terms</h2>
        <p class="text-base font-body mb-6 leading-relaxed">
          We reserve the right to modify these Terms and Conditions at any time.
          Updates will be posted on this page with an updated effective date.
          Your continued use of the website after changes have been made
          constitutes acceptance of the new terms.
        </p>

        <h2 class="text-2xl font-semibold mb-4">7. Contact Us</h2>
        <p class="text-base font-body mb-8 leading-relaxed">
          If you have any questions or concerns about these Terms and
          Conditions, please <a
            href="/contact"
            class="text-highlight font-semibold hover:underline">contact us</a
          >. We are happy to assist you.
        </p>
      </div>
    </section>
  </main>
</Layout>
