---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import HomeSecondSection from "../components/home/HomeSecondSection.astro";
import UpcomingMatch from "../components/home/UpcomingMatch.astro";
---

<Layout>
  <div class="w-full">
    <HeroSection />
    <HomeSecondSection />
    <UpcomingMatch />
  </div>
</Layout>
