---
import FontHeading from "../FontHeading.astro"

const upcomingMatches = [
  {
    date: "Dec 18, 2024",
    match: "FCON vs MGMM",
    time: "2h 37m 27s",
    stage: "MESL 24S2 - Men SS",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "DU vs YLG",
    time: "4h 7m 27s",
    stage: "MESL 24S2 - Men SS",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "WArc vs HYPE",
    time: "6h 37m 27s",
    stage: "BetBoom Rise of Legends S4 GS",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "HYPE vs VSG",
    time: "8h 7m 27s",
    stage: "BetBoom Rise of Legends S4 GS",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "VRSO vs WArc",
    time: "9h 37m 27s",
    stage: "BetBoom Rise of Legends S4 GS",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "VSG vs DP",
    time: "11h 7m 27s",
    stage: "BetBoom Rise of Legends S4 GS",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "DP vs VRSO",
    time: "TBD",
    stage: "BetBoom Rise of Legends S4 GS",
    format: "Bo3"
  }
]
---

<section class="my-8 sm:my-12 ">
  <div class="w-full">
    <!-- Title -->
    <FontHeading label="Mobile Legend Upcoming Matches" />
  
    <!-- Matches Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 mt-4">
      {upcomingMatches.map((match, index) => (
        <div 
          class="flex flex-row items-center  p-4 sm:p-6  shadow-md
          rounded-lg transform transition-transform duration-300 border"
        >
          <!-- Date -->
          <span 
            class="block  mr-4 text-xs sm:text-sm  sm:w-auto"
          >
            {match.date}
          </span>

          <!-- Match Info -->
          <span 
            class="flex-1 font-semibold text-sm sm:text-base text-left"
          >
            {match.match}
          </span>

          <!-- Time -->
          <span 
            class=" text-sm sm:text-base font-semibold mt-2 sm:mt-0"
          >
            {match.time}
          </span>
        </div>
      ))}
    </div>
  </div>
</section>
