---
import FontHeading from "../FontHeading.astro"

const upcomingMatches = [
  {
    date: "Dec 18, 2024",
    match: "MAP vs SMK",
    time: "16:42 UTC",
    stage: "ZRO S3",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "LH vs SV",
    time: "18:12 UTC",
    stage: "ZRO S3",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "DMXG vs MooM",
    time: "21:12 UTC",
    stage: "ZRO S3",
    format: "Bo3"
  },
  {
    date: "Dec 18, 2024",
    match: "XTR vs CRVG",
    time: "21:12 UTC",
    stage: "ZRO S3",
    format: "Bo3"
  }
]
---

<section class="my-8 sm:my-12 ">
  <div class="w-full">
    <!-- Title -->
    <FontHeading label="Mobile Legend Upcoming Matches" />
  
    <!-- Matches Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 mt-4">
      {upcomingMatches.map((match, index) => (
        <div 
          class="flex flex-row items-center  p-4 sm:p-6  shadow-md
          rounded-lg transform transition-transform duration-300 border"
        >
          <!-- Date -->
          <span 
            class="block  mr-4 text-xs sm:text-sm  sm:w-auto"
          >
            {match.date}
          </span>

          <!-- Match Info -->
          <span 
            class="flex-1 font-semibold text-sm sm:text-base text-left"
          >
            {match.match}
          </span>

          <!-- Time -->
          <span 
            class=" text-sm sm:text-base font-semibold mt-2 sm:mt-0"
          >
            {match.time}
          </span>
        </div>
      ))}
    </div>
  </div>
</section>
