---
import FontHeading from "../FontHeading.astro"

const upcomingMatches = [
  {
    date: "Dec 13, 2024",
    match: "SRG vs TS",
    time: "15:00 UTC",
    stage: "M6 Knockout",
    format: "Bo5"
  },
  {
    date: "Dec 13, 2024",
    match: "TLID vs TBD",
    time: "20:00 UTC",
    stage: "M6 Knockout",
    format: "Bo5"
  },
  {
    date: "Dec 14, 2024",
    match: "FNOP vs TBD",
    time: "18:00 UTC",
    stage: "M6 Knockout",
    format: "Bo7"
  },
  {
    date: "Dec 17, 2024",
    match: "MAP vs SMK",
    time: "07:00 UTC",
    stage: "ZRO",
    format: "Bo3"
  },
  {
    date: "Dec 17, 2024",
    match: "LH vs SV",
    time: "09:00 UTC",
    stage: "ZRO",
    format: "Bo3"
  },
  {
    date: "Dec 17, 2024",
    match: "DMXG vs MooM",
    time: "12:00 UTC",
    stage: "ZRO",
    format: "Bo3"
  },
  {
    date: "Dec 17, 2024",
    match: "XTR vs CRVG",
    time: "12:00 UTC",
    stage: "ZRO",
    format: "Bo3"
  }
]
---

<section class="my-8 sm:my-12 bg-gray-900">
  <div class="w-full">
    <!-- Title -->
    <FontHeading label="Mobile Legend Upcoming Matches" />
  
    <!-- Matches Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 sm:gap-6 mt-4">
      {upcomingMatches.map((match, index) => (
        <div 
          class="flex flex-row items-center bg-gray-800 p-4 sm:p-6 
          rounded-lg shadow-md transform transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg"
        >
          <!-- Date -->
          <span 
            class="block text-gray-400 mr-4 text-xs sm:text-sm  sm:w-auto"
          >
            {match.date}
          </span>

          <!-- Match Info -->
          <span 
            class="flex-1 font-normal text-sm sm:text-base text-left"
          >
            {match.match}
          </span>

          <!-- Time -->
          <span 
            class="text-highlight text-sm sm:text-base font-semibold mt-2 sm:mt-0"
          >
            {match.time}
          </span>
        </div>
      ))}
    </div>
  </div>
</section>
