---
import { Image } from "astro:assets";
import logo from "../images/logo_d.png";
---

<div
  x-data="{ open: false }"
  class="w-full main-container bg-primary flex items-center justify-between h-[70px] py-2 sticky top-0 z-50 shadow-lg transition-shadow duration-300"
>
  <!-- Logo Section -->
  <div class="flex items-center relative">
    <a href="/" class="absolute top-0 left-0 w-full h-full opacity-0"></a>
    <Image
      src={logo}
      alt="logo image"
      class="w-[40px] h-[40px] md:w-[60px] md:h-[60px] drop-shadow-lg"
      width={70}
      height={70}
    />
    <span class="font-heading text-2xl tracking-wider">Razar</span>
  </div>

  <!-- Desktop Navigation -->
  <nav class="hidden md:block">
    <ul class="flex items-center gap-2 text-xl font-heading text-text">
      <li class="px-2">
        <a
          href="/"
          class="relative hover:text-highlight transition-all hover:shadow-highlight"
        >
          Home
        </a>
      </li>
      <li class="px-2">
        <a
          href="/sport"
          class="relative hover:text-highlight transition-all hover:shadow-highlight"
        >
          SPORT
        </a>
      </li>
      <!-- <li class="px-2">
        <a
          href="#"
          class="relative hover:text-highlight transition-all hover:shadow-highlight"
        >
          TECH
        </a>
      </li> -->
      <li class="h-[70px] flex items-center group relative px-2">
        <a
          href="#"
          class="relative hover:text-highlight transition-all hover:shadow-highlight cursor-pointer"
        >
          Esport
        </a>
        <ul
          class="absolute top-[100%] w-fit left-0 pl-2 pr-8 bg-primary shadow-sm shadow-highlight hidden group-hover:flex flex-col items-start"
        >
          <li
            class="cursor-pointer py-1 hover:text-highlight transition-all duration-100"
          >
            <a href="/players">Players</a>
          </li>
          <li
            class="cursor-pointer py-1 hover:text-highlight transition-all duration-100"
          >
            <a href="/esport/schedule">Schedule</a>
          </li>
        </ul>
      </li>

      <li class="px-2">
        <a
          href="/blogs"
          class="relative hover:text-highlight transition-all hover:shadow-highlight"
        >
          Blogs
        </a>
      </li>
    </ul>
  </nav>

  <!-- Mobile Menu Button -->
  <button
    @click="open = !open"
    class="block md:hidden p-2 text-highlight focus:outline-none focus:ring-2 focus:ring-highlight rounded-lg hover:shadow-glow transition-transform duration-200"
    aria-label="Open Menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Mobile Navigation -->
  <div
    x-show="open"
    class="fixed top-0 right-0 w-full h-full bg-background z-50 flex md:hidden transform transition-transform duration-500 ease-in-out"
  >
    <div class="w-full h-full flex flex-col items-start">
      <div class="w-full flex items-center justify-between py-4 px-[20px]">
        <div class="flex items-center">
          <Image
            src={logo}
            alt="logo image"
            class="w-[40px] h-[40px] md:w-[60px] md:h-[60px] drop-shadow-lg"
            width={70}
            height={70}
          />
          <span class="font-heading text-2xl tracking-wider">Razar</span>
        </div>
        <button
          @click="open = false"
          class="p-2 text-highlight focus:outline-none focus:ring-2 focus:ring-highlight rounded-lg hover:shadow-glow transition-transform duration-200"
          aria-label="Close Menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <ul
        class="flex w-full flex-col gap-4 text-xl font-heading text-text p-[20px]"
      >
        <li>
          <a
            href="/"
            class="hover:text-highlight transition-all hover:shadow-highlight"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/sport"
            class="hover:text-highlight transition-all hover:shadow-highlight"
            >Sport</a
          >
        </li>
        <!-- <li>
          <a
            href="/"
            class="hover:text-highlight transition-all hover:shadow-highlight"
            >Tech</a
          >
        </li> -->
        <li
          x-data="{isEsportClick : false}"
          class="grid grid-cols-2 items-center w-full justify-between"
        >
          <a
            class="hover:text-highlight transition-all hover:shadow-highlight col-span-1"
            >Esport</a
          >
          <div
            class="w-3 col-span-1 ml-auto"
            @click="isEsportClick = !isEsportClick"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
              ><path
                fill="#F97316"
                d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
              ></path></svg
            >
          </div>
          <ul
            :class="isEsportClick ? 'flex' : 'hidden'"
            class="col-span-2 mt-4 flex-col items-start gap-3 p-3 rounded-[4px] bg-primary"
          >
            <li class="pl-2">
              <a href="/players">Player</a>
            </li>
            <li class="pl-2">
              <a href="/esport/schedule">Schedule</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="/blogs"
            class="hover:text-highlight transition-all hover:shadow-highlight"
            >Blogs</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  :global(body) {
    overflow-x: hidden;
  }

  .hover\:shadow-highlight:hover {
    text-shadow: 0px 4px 6px var(--highlight);
  }

  .hover\:shadow-glow:hover {
    box-shadow: 0 0 15px var(--highlight);
  }

  .drop-shadow-lg {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
  }

  .transition-shadow {
    transition: box-shadow 0.3s ease-in-out;
  }
</style>
