---
import FontHeading from "./FontHeading.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-8 md:py-12">
  <!-- Explore All Blogs -->
  <a
    href="/all-blogs"
    class="flex items-center justify-between p-6 rounded-xl shadow-lg transition-transform border"
  >
    <div>
      <FontHeading label="Explore All Sports Blogs" />
      <p class="font-body leading-relaxed mt-2 text-text">
        Browse the latest sports articles, analysis, and opinions.
      </p>
    </div>
    <svg
      class="w-6 h-6 text-text"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
    </svg>
  </a>

  <!-- View Premier League Table -->
  <a
    href="/premier-league-table"
    class="flex items-center justify-between p-6 text-text rounded-xl shadow-lg transition-transform border"
  >
    <div>
      <FontHeading label="Premier League Table" />
      <p class="font-body leading-relaxed mt-2">
        Check out the current standings, top scorers, and more.
      </p>
    </div>
    <svg
      class="w-7 h-7 text-text"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
    </svg>
  </a>
</div>
